.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.output{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}